#Navigationn{
    background-color: white;
    color:rgb(1, 45, 90);
}
#logo{
    float: left;
    margin-left: 80px;
    clear: left;
    padding: 10px;
}

#Navigationn #Lists ul li{
    text-decoration: none;
    display: inline;
    float: right;
    padding: 10px;    
}

#AboutUs{
    visibility: hidden;
}